[user]
	name = yxy
	email = yan5yang@gmail.com
[color]
	ui = auto
[core]
	editor = vim
	excludesfile = /Users/yxy/.gitignore_global
[merge]
	tool = vimdiff
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	unstage = reset HEAD --
